# go to security > security quick start and generate a username and password
# go to cluster > connect > drivers > connection string then enter user and password (without <>)
MONGO_CONNECTION_STRING = mongodb+srv://<db_username>:<db_password>@cluster0.ai5vvzh.mongodb.net/?appName=Cluster0

# create a product environment on cloudinary
# ↓ Cloud Name
CLOUDINARY_NAME = something
# generate an api key & save the secret for the product environment
CLOUDINARY_API_KEY = 123456789012345
CLOUDINARY_API_SECRET = iw4ejKGaKP6ChUWCGdxjVr7eryw

JWT_SECRET = something